body{
  background-color: #B2A4FF;
  padding-top:2.5rem;
  color: #411530;
  text-align: center;
}
h1{
  font-weight: 500;
  font-size: 4.5rem;
  text-decoration: underline;
  font-family: 'Inconsolata', monospace;
}
h3{
  font-weight: lighter;
  font-size: 2.25rem;
  text-decoration: underline;
  font-family: 'Inconsolata', monospace;
}
div{
  margin: 0;
  border: 0;
  padding: 0;
}
.fst{
  float: left;
  text-align: center;
  margin-left: 20rem;
}
.scnd{
  float:right;
  text-align: center;
  margin-right: 20rem;
}
.btn{
  background-color: #411530;
  color: #B2A4FF;
  height: 2.5rem;
  width: 10rem;
}
.btn:hover{
  color: #411530;
  background-color: #B2A4FF;
  font-family: 'Inconsolata', monospace;
}
.imgs{
  height: 8rem;
  width: 8rem;
}
.footer{
  padding-top:18rem;
  font-family: 'Inconsolata', monospace;
}
